body {
    background-color: rgb(40, 40, 40);
    color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#code_eingabe {
    width: 95%;
    height: 59vh;
    resize: none;
    border: none;
    border-radius: none;
    outline: none;
    padding: 11px;
    font-size: 14px;
    font-family: consolas, monospace;
    color: rgb(235, 235, 235);
    background-color: rgb(20, 20, 20);
}

#code_eingabe_button {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 1px 1px;
    cursor: pointer;
    font-size: 20px;
}

#code_eingabe_div {
    position: relative;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    
}

#terminal_div {
    position: relative;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    margin-top: 10px;
}

#terminal {
    width: 95%;
    height: 30vh;
    resize: none;
    border: none;
    border-radius: none;
    outline: none;
    padding: 11px;
    font-size: 14px;
    font-family: consolas, monospace;
    color: rgb(235, 235, 235);
    background-color: rgb(20, 20, 20);
}